@media (max-width :624px) {

    body {
        flex-direction: column;
        height: 1500px;
        justify-content: center;
        gap: 400px;
        margin-bottom: 140px;
        margin-top: -450px;
    }

    .area-total {
        width: 100%;
        gap: 50px;
    }

    .area-selecao {
        max-width: 280px;
        gap: 10px;
    }

    .area-selecao .img {
        width: 60px;
        height: 65px;
    }

    .area-selecao .img-p2 {
        width: 60px;
        height: 65px;
    }

    .area-total-carta {
        width: 100%;
    }

    .area-carta {
        height: 420px;
        width: 280px;
        padding: 40px;
    }

    .area-carta-top {
        height: 420px;
        width: 280px;
        padding: 40px;
    }

    .area-carta-top .informacao {
        width: 100%;
    }

    .area-carta .informacao {
        width: 100%;
    }

    .informacao .atributos {
        gap: 10px;
    }

    .informacao .nome {
        font-size: 26px;
    }

    .atributos .atributo {
        font-size: 20px;
        gap: 10px;
    }

    .atributo .icone {
        width: 20px;
    }

    .acessorios {
        gap: 10px;
    }

    .acessorios .icon {
        width: 36px;
    }

    .area-carta .img {
        width: 260px;
    }

    .area-carta-top{
        display: none;
    }

}

@media(min-width: 625px) and (max-width: 1200px) {

    body {
        flex-direction: column;
        height: 2200px;
        justify-content: center;
        gap: 400px;
        margin-top: -600px;
        margin-bottom: 200px;
    }

    .area-total {
        width: 100%;
        gap: 50px;
    }

    .area-selecao {
        max-width: 480px;
        gap: 10px;
    }

    .area-selecao .img {
        width: 90px;
        height: 95px;
    }

    .area-selecao .img-p2 {
        width: 90px;
        height: 95px;
    }

    .area-total-carta {
        width: 100%;
    }

    .area-carta {
        height: 700px;
        width: 540px;
        padding: 40px;
    }

    .area-carta-top {
        height: 420px;
        width: 280px;
        padding: 40px;
    }

    .area-carta-top .informacao {
        width: 100%;
    }

    .area-carta .informacao {
        width: 100%;
    }

    .informacao .atributos {
        gap: 20px;
    }

    .informacao .nome {
        font-size: 36px;
    }

    .atributos .atributo {
        font-size: 36px;
        gap: 10px;
    }

    .atributo .icone {
        width: 36px;
    }

    .acessorios {
        gap: 10px;
    }

    .acessorios .icon {
        width: 50px;
    }

    .area-carta .img {
        width: 450px;
    }

    .area-carta-top{
        display: none;
    }

}